# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Env
.venv/
env/
venv/
.idea/


# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
logs/

# Environment Variables
.env

# VSCode
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db
